<div class="card mt-4 shadow-sm">
    <div class="card-header">
        📢 Announcements
    </div>
    <ul class="list-group list-group-flush small">
        {% if announcements %}
        {% for announcement in announcements %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <div>
                <!--                                This uses the course relationship, so don’t need course_name in the model anymore.-->
                <strong>{{ announcement.course.name }}</strong><br>
                <span class="text-muted small">{{ announcement.assignment }} — {{ announcement.due_date }}</span>
            </div>
        </li>
        {% endfor %}
        {% else %}
        <li class="list-group-item text-muted">No upcoming announcements.</li>
        {% endif %}
    </ul>

