<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teacher Dashboard | ACME University</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h2>ACME University</h2>
    <h3>Welcome {{ user.username.capitalize() }} </h3>
    <a href="{{ url_for('main.logout') }}">Sign out</a>

    <h3>Your Courses</h3>
    <table border="1">
        <tr>
            <th>Course Name</th><th>Teacher</th><th>Time</th><th>Students Enrolled</th><th>View</th>
        </tr>
        {% for course in user.courses_taught %}
        <tr>
            <td>{{ course.name }}</td>
            <td>{{ course.teacher.username }}</td>
            <td>{{ course.time }}</td>
            <td>{{ course.students|length }}/{{ course.capacity }}</td>
            <td><a href="{{ url_for('main.class_detail', course_id=course.id) }}">Click here</a></td>
            <td>
                <a href="{{ url_for('main.add_deadline', course_id=course.id) }}">Add Deadline</a>
            </td>

        </tr>
        {% endfor %}
    </table>
</body>
</html>
