<nav class="navbar navbar-expand-lg px-4 py-2 shadow-sm" id="top-navbar">
    <div class="container-fluid d-flex justify-content-between align-items-center">

        <div class="d-flex align-items-center gap-3">
<!--            &lt;!&ndash; Help Button &ndash;&gt;-->
<!--            <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#helpModal">-->
<!--                Help-->
<!--            </button>-->

            <!-- Theme Toggle -->
            <div class="theme-switch d-flex align-items-center">
                <label class="theme-switch m-0">
                    <input type="checkbox" id="theme-toggle">
                    <span class="slider round">
                        <span class="icon sun">🌞</span>
                        <span class="icon moon">🌚</span>
                    </span>
                </label>
            </div>
        </div>
    </div>
</nav>
